{% extends '@OCCore/base.html.twig' %}

{% block body %}

    {{ render_flash_alerts() }}

    <h1>Welcome to this beautiful website with no CSS yet !</h1>

    {% for advert in adverts %}
        {% if  adverts %}


            <p>{{ advert.title }}</p>
            <p>{{ advert.date|date }}</p>
            <p>{{ advert.author }}</p>
            <p>{{ advert.content }}</p>

        {% endif %}
    {% endfor %}

{% endblock %}